<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="random">
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <coverage pathCoverage="true">
        <report>
            <text outputFile="php://stdout" showOnlySummary="true" />
            <html outputDirectory="./tests/reports/coverage" highLowerBound="80" />
        </report>
    </coverage>

    <logging>
        <junit outputFile="./tests/reports/phpunit.junit.xml" />
    </logging>
</phpunit>
